
storage: none
source https://api.nuget.org/v3/index.json
framework: net10.0, netstandard2.1
generate_load_scripts: true
nuget FSharp.Core redirects: force

group Test
source https://api.nuget.org/v3/index.json
framework: net10.0, netstandard2.1
nuget FSharp.Core redirects: force
nuget NUnit
nuget NUnit3TestAdapter
nuget FsUnit
nuget Microsoft.NET.Test.Sdk

group WebApi
source https://api.nuget.org/v3/index.json
framework: net10.0, netstandard2.1
nuget Swashbuckle.AspNetCore
nuget Microsoft.OpenApi ~> 2
nuget Newtonsoft.Json
